<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_1_baby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{113,189}</string>
                <key>spriteSourceSize</key>
                <string>{117,191}</string>
                <key>textureRect</key>
                <string>{{321,60},{113,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_body_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{175,227}</string>
                <key>spriteSourceSize</key>
                <string>{177,227}</string>
                <key>textureRect</key>
                <string>{{144,1},{175,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{131,123}</string>
                <key>spriteSourceSize</key>
                <string>{137,135}</string>
                <key>textureRect</key>
                <string>{{436,60},{131,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{261,57}</string>
                <key>spriteSourceSize</key>
                <string>{265,57}</string>
                <key>textureRect</key>
                <string>{{321,1},{261,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_1_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,231}</string>
                <key>spriteSourceSize</key>
                <string>{145,231}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_1.png</string>
            <key>size</key>
            <string>{583,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8320353fdeb52a09452c383fd7f71cc6:224f47cfdd04950b17a9a86c11b69665:f35085947a8ca2318a51d36f4792c391$</string>
            <key>textureFileName</key>
            <string>enemy_1.png</string>
        </dict>
    </dict>
</plist>
